<div class="inner-container">
    <div class="plain_text" *ngIf="langCode == 'en'">
        Translation Missing
    </div>
    <div class="plain_text" *ngIf="langCode == 'de'">

        <h1>Anbieter:</h1>

        <p >REHAU AG + Co</p>

        <p >Rheniumhaus Otto-Hahn-Str. 2<br /> 95111 Rehau<br /> Telefon: +49 (0) 9283 - 77 0<br /> E-Mail: re.hub@rehau.com</p>

        <p >Persönlich haftende Gesellschafterin: Helmut Wagner AG - 3074 Muri b. Bern - Schweiz - Präsident des Verwaltungsrats: Helmut Wagner - HR Bern CHE-107.882.879</p>

        <p >Handelsregister beim Amtsgericht Hof, HRA 2232<br /> Umsatzsteueridentifikationsnummer: DE132944654</p>

        <h1>Endnutzer-Lizenzvertrag (EULA) für die Nutzung von REHAU Smart Home Software, Cloud-Server und -Dienste&nbsp; </h1>

        <p >zwischen Ihnen als Anwender </p>

        <p >(im nachfolgenden auch „Lizenznehmer“ genannt)</p>

        <p >&nbsp;</p>

        <p >und </p>

        <p >der REHAU AG + Co, Rheniumhaus, 95111 Rehau, Deutschland (im nachfolgenden „REHAU“ oder „Lizenzgeber“ genannt)</p>


        <p >&nbsp;</p>

        <p >BEVOR SIE DIE SOFTWARE IN BETRIEB NEHMEN, LESEN SIE BITTE DIESEN </p>

        <p >LIZENZVERTRAG (AUCH „LIZENZ“ GENANNT) SORGFÄLTIG DURCH. INDEM SIE DIE </p>

        <p >SOFTWARE VERWENDEN BZW. DIE CLOUD- UND SERVERDIENSTE IN ANSPRUCH </p>

        <p >NEHMEN, ERKLÄREN SIE IHR EINVERSTÄNDNIS MIT DEN BESTIMMUNGEN DES NACHSTEHENDEN </p>

        <p >LIZENZVERTRAGS. WENN SIE MIT DEN BESTIMMUNGEN DIESES LIZENZVERTRAGS NICHT </p>

        <p >EINVERSTANDEN SIND, INSTALLIEREN UND/ODER VERWENDEN SIE DIE SOFTWARE </p>

        <p >NICHT BZW. MELDEN SIE SICH NICHT FÜR DEN ENTPRECHENDEN CLOUD-DIENST AN UND </p>

        <p >KLICKEN SIE AUF „ABLEHNEN“, WENN DIE OPTION ZUM AKZEPTIEREN ODER ABLEHNEN DER </p>

        <p >BESTIMMUNGEN ANGEZEIGT WIRD. </p>

        <p >&nbsp;</p>

        <p >I. Allgemeines</p>

        <p >&nbsp; Die Software, die entweder auf einem GATEWAY, Computer oder als </p>

        <p >&nbsp; App auf einem Smartphone oder Tablet installiert wird bzw. bereits </p>

        <p >&nbsp; vorinstalliert ist, jegliche Drittanbietersoftware, Dokumentation, </p>

        <p >&nbsp; Benutzeroberflächen, Inhalte, Schriften, Erweiterungen und jegliche zu dieser </p>

        <p >&nbsp; Lizenz gehörigen Daten (gemeinsam „REHAU-Software“), unabhängig davon, ob </p>

        <p >&nbsp; diese von einer Onlineplattform heruntergeladen wird oder auf einem </p>

        <p >&nbsp; Datenträger wie z.B. CD/DVD/Blu-ray, ROM/USB-Stick, einem anderen </p>

        <p >&nbsp; Speichermedium oder in anderer Form gespeichert ist, wird Ihnen von REHAU </p>

        <p >&nbsp; für die Nutzung im Rahmen dieser Lizenz lizenziert, nicht verkauft. REHAU </p>

        <p >&nbsp; und/oder die Lizenzgeber von REHAU sind Inhaber und bleiben Eigentümer </p>

        <p >&nbsp; sämtlicher Schutzrechte inkl. Patent-, Urheber- sowie anderer Rechte an der </p>

        <p >&nbsp; REHAU-Software und behalten sich sämtliche Rechte vor.</p>

        <p >&nbsp;&nbsp; Sämtliche Marken sowie Handels- und Domainnamen, Logos und anderes geistiges </p>

        <p >&nbsp; Eigentum von REHAU stehen im alleinigen Eigentum von REHAU. Die hiermit </p>

        <p >&nbsp; erteilte Lizenz gibt Ihnen keinerlei Recht diese gewerblich und/oder privat zu </p>

        <p >&nbsp; nutzen.</p>

        <p >&nbsp; Die Bestimmungen dieser Lizenz gelten auch für jegliche von REHAU</p>

        <p >&nbsp; bereitgestellten Updates, Upgrades und für jegliche Softwareaktualisierungen </p>

        <p >&nbsp; (gemeinsam auch „Releases“), die das Original REHAU Softwareprodukt ersetzen </p>

        <p >&nbsp; und/oder ergänzen, es sei denn, eine solche Aktualisierung umfasst eine </p>

        <p >&nbsp; separate Lizenz. In diesem Fall haben die Bestimmungen dieser Lizenz </p>

        <p >&nbsp; Gültigkeit.</p>

        <p >&nbsp; Das Eigentums- und Urheberrecht an den Inhalten, die über die REHAU-Software </p>

        <p >&nbsp; angezeigt werden bzw. auf die über die REHAU-Software zugegriffen wird, </p>

        <p >&nbsp; liegt bei den jeweiligen Eigentümern dieser Inhalte. Solche Inhalte sind </p>

        <p >&nbsp; möglicherweise durch Urheberrechte oder andere Rechte und Verträge </p>

        <p >&nbsp; hinsichtlich des geistigen Eigentums geschützt und können den </p>

        <p >&nbsp; Nutzungsbestimmungen des Dritten unterliegen, der diese Inhalte bereitstellt. </p>

        <p >&nbsp; Diese Lizenz gewährt Ihnen keine Rechte zur Nutzung solcher Inhalte und </p>

        <p >&nbsp; umfasst keine Garantie, dass diese Inhalte weiterhin für Sie verfügbar sein </p>

        <p >&nbsp; werden.</p>

        <p >&nbsp; REHAU kann nach eigenem Ermessen künftige Aktualisierungen der </p>

        <p >&nbsp; REHAU-Software bereitstellen. Neue Releases, sofern vorhanden, </p>

        <p >&nbsp; enthalten unter Umständen nicht alle in Vorversionen vorhandenen </p>

        <p >&nbsp; Softwarefunktionen oder neuen Funktionen, die REHAU für neuere oder andere </p>

        <p >&nbsp; Betriebssysteme und Betriebssystemversionen freigibt.</p>

        <p >&nbsp;</p>

        <p >II. Nutzungsrechte und Bedingungen</p>

        <p >&nbsp; Gemäß den Bestimmungen dieser Lizenz erteilt Ihnen der Lizenzgeber hiermit das </p>

        <p >&nbsp; zeitlich unbeschränkte und jederzeit wiederrufbare Recht zur Installation und </p>

        <p >&nbsp; Nutzung einer Kopie der Software, auf einem GATEWAY, Computer, </p>

        <p >&nbsp; Smartphone oder Tablet, dessen Eigentümer Sie sind bzw. der Ihrer Kontrolle </p>

        <p >&nbsp; unterliegt. Es ist Ihnen untersagt, die REHAU-Software über ein Netzwerk, in </p>

        <p >&nbsp; dem sie auf mehreren Computern gleichzeitig verwendet werden kann, zur </p>

        <p >&nbsp; Verfügung zu stellen. Sie sind berechtigt, eine maschinenlesbare Kopie der </p>

        <p >&nbsp; REHAU-Software für Sicherungszwecke zu erstellen. Sie sind verpflichtet, auf </p>

        <p >&nbsp; jeder Kopie der REHAU-Software die Urheber- und sonstigen </p>

        <p >&nbsp; Schutzrechtshinweise aufzunehmen, die auf dem Original enthalten waren.</p>

        <p >&nbsp; Sie verpflichten sich, es zu unterlassen und es anderen nicht zu gestatten, </p>

        <p >&nbsp; die REHAU-Software oder jegliche von der REHAU-Software bereitgestellten </p>

        <p >&nbsp; Dienste oder Teile davon zu kopieren (sofern dies nicht ausdrücklich im Rahmen </p>

        <p >&nbsp; dieses Lizenzvertrags gestattet ist), zu dekompilieren, rückwärts zu </p>

        <p >&nbsp; entwickeln, zu disassemblieren, den Quellcode auszulesen, den Quellcode zu </p>

        <p >&nbsp; entschlüsseln, zu modifizieren oder abgeleitete Werke der REHAU-Software </p>

        <p >&nbsp; oder jeglicher von der Software bereitgestellter Dienste oder Teilen </p>

        <p >&nbsp; davon zu erstellen.</p>

        <p >&nbsp; Es ist Ihnen nicht gestattet, die REHAU-Software zu vermieten, zu verleasen, </p>

        <p >&nbsp; zu verleihen, zu verkaufen, neu zu verteilen oder Unterlizenzen für die </p>

        <p >&nbsp; REHAU-Software zu vergeben. Sie sind jedoch berechtigt, eine einmalige, </p>

        <p >&nbsp; permanente Übertragung aller Ihrer Lizenzrechte an der REHAU-Software an </p>

        <p >&nbsp; einen Dritten vorzunehmen, vorausgesetzt: (i) die Übertragung umfasst die </p>

        <p >&nbsp; komplette REHAU-Software, einschließlich aller Komponenten, gedruckten </p>

        <p >&nbsp; Materialien und diesen Lizenzvertrag, (ii) Sie behalten keine Kopie der </p>

        <p >&nbsp; REHAU-Software oder von Teilen der REHAU-Software, (iii) der Dritte, der </p>

        <p >&nbsp; die REHAU-Software erhält, akzeptiert die Bestimmungen dieses </p>

        <p >&nbsp; Lizenzvertrags. Alle Komponenten der REHAU-Software werden ausschließlich </p>

        <p >&nbsp; als Teil eines Pakets bereitgestellt und dürfen nicht von diesem Paket </p>

        <p >&nbsp; getrennt und als eigenständige Programme übertragen und/oder verteilt werden.</p>

        <p >&nbsp; REHAU stellt Ihnen möglicherweise auch andere Software zur Verfügung, die </p>

        <p >&nbsp; z.B. für Werbe-, Bewertungs-, Diagnose-, oder Wiederherstellungszwecke </p>

        <p >&nbsp; getrennt und/oder in Verbindung mit der REHAU-Software genutzt werden kann. </p>

        <p >&nbsp; Jede Kopie dieser Software darf ausschließlich nur für solche Zwecke verwendet </p>

        <p >&nbsp; werden. Der Wiederverkauf oder die Übertragung dieser Software ist nicht </p>

        <p >&nbsp; zulässig.</p>

        <p >&nbsp;</p>

        <p >III. Speicherung und Auswertung von Daten</p>

        <p >&nbsp; Die REHAU-Software erfasst zur Erfüllung des bestimmungsgemäßen Gebrauchs </p>

        <p >&nbsp; eine Vielzahl von Daten und speichert diese sowie die Konfigurationsdatei </p>

        <p >&nbsp; lokal auf ihrem Computer, Smartphone oder Tablet und je nach Anwendungs- und </p>

        <p >&nbsp; Konfigurationsfall partiell auch auf den in ihrem lokalen Netzwerk </p>

        <p >&nbsp; befindlichen GATEWAY/Server. REHAU und die Auftragnehmer von REHAU</p>

        <p >&nbsp; erfassen und speichern Diagnosedaten sowie technische, nutzungsrelevante und </p>

        <p >&nbsp; zugehörige Informationen, einschließlich eindeutige System- und </p>

        <p >&nbsp; Hardwarekennungen sowie Informationen über die verwendete Systemsoftware, </p>

        <p >&nbsp; Softwarelizenz, Funktionsmodule (Plug-Ins) sowie alle mit der REHAU-Software </p>

        <p >&nbsp; gesteuerten Geräte- und Kommunikationsparameter. Diese Informationen werden </p>

        <p >&nbsp; vorwiegend zur bestimmungsgemäßen Funktionalität der REHAU-Software </p>

        <p >&nbsp; regelmäßig erfasst, aber auch dazu, Produkte und Dienste von REHAU</p>

        <p >&nbsp; bereitzustellen und zu verbessern, die Bereitstellung von </p>

        <p >&nbsp; Softwareaktualisierungen, Produktsupport und anderen Diensten (sofern </p>

        <p >&nbsp; vorhanden) für Sie zu ermöglichen und in Verbindung mit der REHAU-Software </p>

        <p >&nbsp; zu vereinfachen. REHAU ist stets berechtigt, diese </p>

        <p >&nbsp; Informationen zu nutzen, sofern diese für die zuvor beschriebenen Zwecke in </p>

        <p >&nbsp; einer Form gesammelt und gespeichert werden, die keinerlei Rückschlüsse auf </p>

        <p >&nbsp; Ihre Person zulässt. </p>

        <p >&nbsp;</p>

        <p >&nbsp; Der Schutz Ihrer Daten ist REHAU wichtig und wir behandeln diese stets unserer Datenschutzrichtlinien sowie datenschutzrechtlicher Vorschriften. </p>

        <p >&nbsp;</p>

        <p >IV. Cloud-Server und Dienste sowie Materialien von Drittanbietern
        </p>

        <p >&nbsp; REHAU gestattet Ihnen auch die zusätzliche Speicherung und Auslagerung der </p>

        <p >&nbsp; bei Ihnen lokal gespeicherten Informationen sowie anderen Daten auf einem REHAU-Cloud-Server und möglicherweise auch den Zugriff auf weitere </p>

        <p >&nbsp; Cloud-Dienste sowie den Zugriff auf Websites von REHAU und Dritten (im </p>

        <p >&nbsp; Folgenden gemeinsam und einzeln als „Dienste“ bezeichnet). Die Nutzung dieser </p>

        <p >&nbsp; Dienste erfordert Internetzugriff und setzt eine Identifikation mittels </p>

        <p >&nbsp; eindeutiger Kombination aus Benutzernamen und Kennwort, welche Sie beantragen </p>

        <p >&nbsp; bzw. selbst festlegen, sowie möglicherweise die Einrichtung eines </p>

        <p >&nbsp; REHAU-Benutzerkontos voraus. Dabei wird möglicherweise Ihr Einverständnis </p>

        <p >&nbsp; mit zusätzlichen Service- und Nutzungsbedingungen vorausgesetzt. Unter </p>

        <p >&nbsp; Umständen unterliegt die Nutzung der Dienste auch zusätzlichen Gebühren. In </p>

        <p >&nbsp; jedem Fall unterliegt die Nutzung der Dienste den nachfolgenden Bedingungen </p>

        <p >&nbsp; sowie den REHAU Nutzungsbedingungen für Cloud-Dienste), auf die hiermit </p>

        <p >&nbsp; ausdrücklich verwiesen wird und diese somit Bestanteil dieser </p>

        <p >&nbsp; Lizenzvereinbarung werden.</p>

        <p >&nbsp; Wenn Sie sich für einen Dienst angemeldet und zur Identifikationen einen </p>

        <p >&nbsp; eigenen Benutzernamen und ein Kennwort angelegt haben, tragen Sie die volle </p>

        <p >&nbsp; Verantwortung für die Geheimhaltung Ihres Kennworts und Ihrer etwaig </p>

        <p >&nbsp; gespeicherten Konteninformationen. Darüber hinaus tragen Sie die volle </p>

        <p >&nbsp; Verantwortung für sämtliche Aktivitäten welcher Art auch immer, die über Ihr </p>

        <p >&nbsp; Konto abgewickelt werden. REHAU darf davon ausgehen, dass es sich bei jedem Benutzer, der Dienste unter Ihrem Namen und </p>

        <p >&nbsp; mit Ihrem Kennwort nutzt, um Sie oder um von Ihnen autorisierte Personen </p>

        <p >&nbsp; handelt. Sie erklären, dass Sie REHAU bei unbefugter Benutzung Ihres Kontos </p>

        <p >&nbsp; oder anderen Sicherheitslücken unverzüglich benachrichtigen werden. REHAU</p>

        <p >&nbsp; übernimmt keine Verantwortung für eventuelle Verluste, die Ihnen daraus </p>

        <p >&nbsp; entstehen könnten, dass andere Ihr Kennwort oder Ihr Konto benutzen, </p>

        <p >&nbsp; gleichgültig, ob dies mit oder ohne Ihr Wissen geschieht. Entstehen REHAU</p>

        <p >&nbsp; oder einer anderen Partei Verluste aus der Benutzung Ihres Kontos oder </p>

        <p >&nbsp; Kennworts durch Dritte, können Sie dafür haftbar gemacht werden. Es ist Ihnen </p>

        <p >&nbsp; zu keiner Zeit gestattet, das Konto eines anderen Benutzers ohne dessen </p>

        <p >&nbsp; Einwilligung zu verwenden.</p>

        <p >&nbsp; Indem Sie die REHAU-Software verwenden, um auf Dienste zuzugreifen, werden </p>

        <p >&nbsp; Sie möglicherweise mit Inhalten konfrontiert, die beleidigend, vulgär oder </p>

        <p >&nbsp; unmoralisch sind. Da REHAU möglicherweise keine Kontrolle über Websites und </p>

        <p >&nbsp; Informationen hat, die unter Umständen beleidigende, vulgäre oder unmoralische </p>

        <p >&nbsp; Inhalte umfassen, erklären Sie sich damit einverstanden, diese Dienste auf </p>

        <p >&nbsp; eigene Verantwortung zu nutzen.</p>

        <p >&nbsp; Bestimmte Dienste können Inhalte, Daten, Informationen, Programme oder </p>

        <p >&nbsp; Materialien von Drittanbietern („Drittanbietermaterialien”) anzeigen, </p>

        <p >&nbsp; enthalten oder zur Verfügung stellen oder Links zu bestimmten Websites von </p>

        <p >&nbsp; Drittanbietern bereitstellen. Indem Sie diese Dienste verwenden, bestätigen </p>

        <p >&nbsp; Sie und erklären sich ausdrücklich damit einverstanden, dass REHAU nicht für </p>

        <p >&nbsp; die Prüfung oder Bewertung der Inhalte, Genauigkeit, Vollständigkeit, </p>

        <p >&nbsp; Aktualität, Gültigkeit, Urheberrechtskonformität, Legalität, Integrität, </p>

        <p >&nbsp; Qualität oder sonstiger Aspekte solcher Materialien oder Websites von </p>

        <p >&nbsp; Drittanbietern verantwortlich ist. REHAU, seine Mitarbeiter, Partner- oder </p>

        <p >&nbsp; Tochtergesellschaften gewähren oder bestätigen und übernehmen und tragen </p>

        <p >&nbsp; keinerlei Haftung oder Verantwortung Ihnen oder Dritten gegenüber für jegliche </p>

        <p >&nbsp; Drittanbieterdienste, Drittanbietermaterialien oder-Websites oder für sonstige </p>

        <p >&nbsp; Materialien, Produkte oder Dienste von Drittanbietern. </p>

        <p >&nbsp; Drittanbietermaterialien und Links zu anderen Websites werden Ihnen nur aus </p>

        <p >&nbsp; Gefälligkeit bereitgestellt. </p>

        <p >&nbsp; Soweit Sie durch Nutzung der Dienste Inhalte hochladen, erklären Sie, dass Sie </p>

        <p >&nbsp; Inhaber aller Rechte an solchen Inhalten sind oder, dass Sie über die </p>

        <p >&nbsp; Berechtigung verfügen oder anderweitig durch Gesetze autorisiert sind, diese </p>

        <p >&nbsp; Inhalte hochzuladen. Ferner verpflichten Sie sich, diese Dienste nicht zu </p>

        <p >&nbsp; missbrauchen, insbesondere nicht die Dienste für die Übertragung von </p>

        <p >&nbsp; Computerviren oder anderen Schädlingsprogrammen zu benutzen. REHAU übernimmt </p>

        <p >&nbsp; keinerlei Haftung für jedweden Missbrauch der Dienste.</p>

        <p >&nbsp; Für den Fall, dass Sie Dienste oder Drittanbietermaterialien verwenden oder </p>

        <p >&nbsp; darauf zuzugreifen, erfolgt dies auf Ihre eigene Initiative und Sie tragen die </p>

        <p >&nbsp; Verantwortung für die Einhaltung jeglicher anwendbareren Gesetze, </p>

        <p >&nbsp; einschließlich, aber nicht beschränkt auf anwendbare lokale Gesetze und </p>

        <p >&nbsp; Gesetze zu Datenschutz und Datensammlung. REHAU und seine Lizenzgeber </p>

        <p >&nbsp; behalten sich das Recht vor, sämtliche Dienste jederzeit ohne Vorankündigung </p>

        <p >&nbsp; zu ändern, vorübergehend einzustellen, zu entfernen oder den Zugang zu </p>

        <p >&nbsp; bestimmten Diensten zu deaktivieren. REHAU übernimmt in keinem Fall die </p>

        <p >&nbsp; Haftung für das Einstellen jeglicher Dienste oder die Deaktivierung des </p>

        <p >&nbsp; Zugangs zu solchen Diensten. REHAU ist berechtigt, jederzeit und ohne </p>

        <p >&nbsp; vorherige Mitteilung sowie unter Ausschluss der Haftung die Nutzung von oder </p>

        <p >&nbsp; den Zugang zu bestimmten Diensten zu beschränken.</p>

        <p >&nbsp;</p>

        <p >V. Einverständnis zur Erhebung, Verarbeitung und Nutzung personenbezogener Daten</p>

        <p >&nbsp; Wenn Sie sich zur Nutzung der REHAU-Software in Verbindung mit Diensten </p>

        <p >&nbsp; entschieden und dazu ein REHAU-Benutzerkonto beantragt bzw. den Zugang dazu </p>

        <p >&nbsp; erhalten haben, so haben Sie REHAU auch die Zustimmung zur Erhebung, </p>

        <p >&nbsp; Speicherung, Verarbeitung, Nutzung und Übermittlung personenbezogener Daten erteilt, um Ihnen personenbezogene Funktionen wie </p>

        <p >&nbsp; z. B. die Visualisierung von Verbrauchsdaten und Betriebszustände </p>

        <p >&nbsp; bereitzustellen. Dazu gehören Angaben wie z. B. Name, Anschrift, </p>

        <p >&nbsp; E-Mail-Adresse, Telefonnummer sowie z. B. Verbrauchs- und Gerätestatusdaten, </p>

        <p >&nbsp; auch wenn diese nicht einer bestimmten Person zuordenbar, aber aufgrund des </p>

        <p >&nbsp; Kontexts, in dem diese erhoben worden sind, einen Personenbezug aufweisen. </p>

        <p >&nbsp; Sobald die REHAU-Software bzw. Ihr im lokalen Netzwerk eingebundenes
        </p>

        <p >&nbsp; GATEWAY bzw. ein anderer Server Verbindung zu den Diensten aufnimmt, erfasst </p>

        <p >&nbsp; REHAU u. a. folgende Daten: </p>

        <p >&nbsp;&nbsp;&nbsp;&nbsp; </p>

        <p >&nbsp; Sämtliche Informationen, die Sie uns bei der Anmeldung zur Erstellung des </p>

        <p >&nbsp; REHAU-Benutzerkontos preisgegeben haben, Geräteliste mit Gerätekategorien, </p>

        <p >&nbsp; Gerätetypen und/oder Herstellernamen, die Sie zur Steuerung mit der </p>

        <p >&nbsp; Software eingestellt haben, alle verwendeten bzw. angelernten Geräte, </p>

        <p >&nbsp; Geräteereignisse (z.B. Fehlermeldungen von Geräten, etc.), Geräteaktionen </p>

        <p >&nbsp; (Zustände und Bedienung), Geräteverbindungen (Automationsregeln, Tasks, Szenen </p>

        <p >&nbsp; und Gewerke Profile, etc.), Systemereignisse (z.B. Fehlermeldungen des </p>

        <p >&nbsp; Systems), lokale Daten der Benutzerverwaltung (Zugriffsrechte verschiedener </p>

        <p >&nbsp; Nutzer, etc.), Verbrauchswerte, Systemdaten der mobilen Endgeräte </p>

        <p >&nbsp; (Betriebssystem, Software-Version und Hersteller), die mit den Diensten </p>

        <p >&nbsp; kommunizieren, die von Ihnen gewählte Kombination aus Benutzername und </p>

        <p >&nbsp; Passwort für den Login zum REHAU-Benutzerkonto, eine gültige E-Mail-Adresse, </p>

        <p >&nbsp; Seriennummer Ihrer Softwarelizenz sowie des lokalen GATEWAYS/Servers, getätigte In-App Käufe und lizensierte Funktionsmodule </p>

        <p >&nbsp; (Plug-Ins), Service und Subscription ID (SUS) sowie andere
        </p>

        <p >&nbsp; Funktionserweiterungen der REHAU-Software.</p>

        <p >&nbsp;</p>

        <p >&nbsp; Die in Punkt 5.1. aufgeführten Daten werden in der REHAU-Software erfasst, </p>

        <p >&nbsp; verarbeitet und an den REHAU-Cloud- bzw. Dienste Server übermittelt. Dort </p>

        <p >&nbsp; werden diese verarbeitet und gespeichert. Die Verarbeitung und Speicherung </p>

        <p >&nbsp; dieser Daten dient u.a. dazu, den Status Ihrer Geräte auch außerhalb Ihres </p>

        <p >&nbsp; lokalen Netzwerkes anzuzeigen und Ihnen z.B. eine Übersicht sämtlicher Geräte </p>

        <p >&nbsp; nebst Verbrauchsdaten bereitzustellen. Diese Daten werden von einem </p>

        <p >&nbsp; Dienstleister als Serveranbieter gespeichert und in einer aufgearbeiteten Form </p>

        <p >&nbsp; zur Anzeige bereitgestellt. Darüber hinaus anonymisieren wir Ihre Daten und </p>

        <p >&nbsp; nutzen diese zur Verbesserung unserer angebotenen Produkte und unserer </p>

        <p >&nbsp; Marketingkonzepte. Diese Nutzung erlaubt uns jedoch keinerlei Rückschlüsse auf </p>

        <p >&nbsp; Ihre Person. Eine darüber hinaus gehende Erhebung, Speicherung, Nutzung, </p>

        <p >&nbsp; Verarbeitung oder Übermittlung personenbezogener Daten findet nur aufgrund </p>

        <p >&nbsp; Ihres ausdrücklichen, erneut erklärten Einverständnisses oder im Rahmen </p>

        <p >&nbsp; unserer gesetzlichen Auskunftspflichten gegenüber berechtigten staatlichen </p>

        <p >&nbsp; Institutionen oder aufgrund einer gerichtlichen Entscheidung statt. </p>

        <p >&nbsp; Die Nutzung der Dienste unterliegt den Nutzungsbedingungen für REHAU Smart Home Cloud- </p>

        <p >&nbsp; Server und -Dienste (vollständige Bedingungen abrufbar unter </p>

        <p >&nbsp; sowie den REHAU-Datenschutzrechtlinien. </p>

        <p >&nbsp; Sie können Ihr Einverständnis zur Erhebung, Speicherung, Verarbeitung und </p>

        <p >&nbsp; Nutzung Ihrer personenbezogenen Daten jederzeit und kostenlos mit Wirkung für </p>

        <p >&nbsp; die Zukunft widerrufen. Ein Widerruf ist über die Einstellungen der </p>

        <p >&nbsp; REHAU-Software möglich, in dem Sie den gesetzten Haken an derjenigen Stelle </p>

        <p >&nbsp; entfernen, an der steht: „Ich stimme der personenbezogenen Speicherung und </p>

        <p >&nbsp; Verarbeitung meiner Daten zu“. </p>

        <p >&nbsp;</p>

        <p >VI. Laufzeit</p>

        <p >&nbsp; Dieser Lizenzvertrag hat bis zur Beendigung durch Kündigung oder Widerruf </p>

        <p >&nbsp; Gültigkeit. Nach Beendigung enden Ihre Rechte im Rahmen dieses Lizenzvertrags </p>

        <p >&nbsp; automatisch ohne Mitteilung seitens REHAU oder verlieren ihre Gültigkeit, </p>

        <p >&nbsp; wenn Sie gegen eine oder mehrere Bestimmungen dieses Lizenzvertrags verstoßen. </p>

        <p >&nbsp; Bei Beendigung dieses Lizenzvertrags sind Sie verpflichtet, die Nutzung der </p>

        <p >&nbsp; REHAU Software einzustellen und alle in Ihrem Besitz befindlichen Kopien der </p>

        <p >&nbsp; REHAU Software oder von Teilen derselben zu vernichten.</p>

        <p >&nbsp;</p>

        <p >VII. Haftungsbeschränkungen</p>

        <p >&nbsp; Die REHAU-Smart-Home-Produkte eignen sich nicht für den Betrieb von medizinischen oder </p>

        <p >&nbsp; gesundheitsrelevanten Geräten sowie als Ersatz für Alarm- und </p>

        <p >&nbsp; Gefahrenmeldeanlagen und setzen für den bestimmungs- und vertragsgemäßen </p>

        <p >&nbsp; Gebrauch, ein mobiles Endgerät wie z. B. Smartphone oder Tablet mit dem </p>

        <p >&nbsp; Betriebssystem iOS (ab Version 7) oder Android (ab Version 4.1) voraus.</p>

        <p >&nbsp; Wenn Sie automatische Steuerungsabläufe konfiguriert haben, überprüfen Sie </p>

        <p >&nbsp; generell sämtliche von Ihnen bzw. durch Dritte in Ihrem Auftrag konfigurierten </p>

        <p >&nbsp; Prozesse, Vorgänge und Schaltungen und führen einen Probeablauf durch, bevor </p>

        <p >&nbsp; Sie das System diese Abläufe autark ausführen lassen. Thermische Geräte wie </p>

        <p >&nbsp; z.B. Heizgeräte, Kochstellen, Kaffeemaschinen, Wasserkocher, Bügeleisen, etc. </p>

        <p >&nbsp; sollten nicht unbeaufsichtigt geschaltet werden. Die Funktionsfähigkeit der </p>

        <p >&nbsp; mittels GATEWAY zu steuernden Endgeräte kann möglicherweise durch bauliche </p>

        <p >&nbsp; Besonderheiten des Einsatzortes eingeschränkt sein. </p>

        <p >&nbsp; REHAU haftet nicht für Schäden, die durch Nutzung der REHAU-Software auf </p>

        <p >&nbsp; Ihrem Computer, Smartphone oder Tablet bzw. in der Zusammenwirkung mit dem </p>

        <p >&nbsp; GATEWAY/Server und Diensten an den gesteuerten Geräten und anderen Sachen </p>

        <p >&nbsp; verursacht werden. </p>

        <p >&nbsp; Bei leicht fahrlässiger Verletzung einer Pflicht, die wesentlich für die </p>

        <p >&nbsp; Erreichung des Vertragszweckes ist (Kardinalspflicht), ist die Haftung von </p>

        <p >&nbsp; REHAU der Höhe nach auf den Ersatz des vorhersehbaren, typischerweise </p>

        <p >&nbsp; entstehenden Schadens beschränkt. Wesentliche Vertragspflichten sind solche </p>

        <p >&nbsp; Pflichten, die die ordnungsgemäße Durchführung des Vertrages überhaupt erst </p>

        <p >&nbsp; möglich machen, deren Verletzung die Erreichung der mit dem Vertrag verfolgten </p>

        <p >&nbsp; Ziele gefährdet und auf deren Erfüllung Sie zu Recht vertrauen können. Dies </p>

        <p >&nbsp; gilt nicht, soweit diese Schäden auf einem vorsätzlichen oder grob </p>

        <p >&nbsp; fahrlässigen Verhalten von REHAU beruhen. </p>

        <p >&nbsp; REHAU haftet nicht für Schäden, die auf dem zeitweiligen oder dauerhaften </p>

        <p >&nbsp; Ausfall eines oder mehrerer zur Nutzung bereitgestellter Cloud-Server und </p>

        <p >&nbsp; Dienste oder deren Nichterreichbarkeit durch den Lizenznehmer entstehen, es </p>

        <p >&nbsp; sei denn der Ausfall oder die Nichterreichbarkeit beruhen auf einem </p>

        <p >&nbsp; vorsätzlichen oder grob fahrlässigen Verhalten von REHAU. Dies gilt </p>

        <p >&nbsp; insbesondere für den Verlust von Daten, weshalb Ihnen REHAU hiermit </p>

        <p >&nbsp; ausdrücklich eine regelmäßige Sicherung der eigenen Daten auf einem externen </p>

        <p >&nbsp; Speichermedium nahelegt.</p>

        <p >&nbsp; Diese Beschränkungen gelten nicht, soweit durch die Nutzung der </p>

        <p >&nbsp; REHAU-Software eine Person an Leib oder Leben verletzt oder in seiner </p>

        <p >&nbsp; Gesundheit oder körperlicher Unversehrtheit beeinträchtigt wird. Unberührt </p>

        <p >&nbsp; bleibt ferner die Haftung für Ansprüche, die sich aus dem </p>

        <p >&nbsp; Produkthaftungsgesetz ergeben. Gleiches gilt für Pflichtverletzung eines </p>

        <p >&nbsp; Erfüllungsgehilfen von REHAU.</p>

        <p >&nbsp;</p>

        <p >VIII. Gewährleistung</p>

        <p >Die Verjährungsfrist für Ansprüche aus Sach- und </p>

        <p >&nbsp; Rechtsmängeln beträgt ein Jahr ab Erwerb der Lizenz. Dies gilt nicht im Falle des </p>

        <p >&nbsp; arglistigen Verschweigens des Mangels oder der Übernahme einer diesbezüglichen </p>

        <p >&nbsp; Garantie. Für kostenlose bzw. unentgeltlich zur Verfügung gestellte </p>

        <p >&nbsp; Probeversionen und Upgrades der REHAU-Software entfällt jeglicher </p>

        <p >&nbsp; Gewährleistungsanspruch. Der Ausschluss gilt nicht für Schadenersatzansprüche </p>

        <p >&nbsp; aus grob fahrlässiger bzw. vorsätzlicher Verletzung von Pflichten von REHAU </p>

        <p >&nbsp; sowie für jede Verletzung von Leben, Körper und Gesundheit.
        </p>

        <p >&nbsp;</p>

        <p >IX. Sonstiges</p>

        <p >&nbsp; Dieser Lizenzvertrag unterliegt dem Recht der Bundesrepublik Deutschland. Bei </p>

        <p >&nbsp; Änderungen, die über bloße Änderungen aus rechtlichen oder administrativen </p>

        <p >&nbsp; Gründen oder die Korrektur einer falschen Angabe hinausgehen, wird REHAU Sie </p>

        <p >&nbsp; sieben Tage vor Inkrafttreten des geänderten Vertrags auf geeignete Art und </p>

        <p >&nbsp; Weise über die Änderungen informieren (z. B. durch Veröffentlichung des Textes </p>

        <p >&nbsp; auf der REHAU Website, durch E-Mail oder durch Hinweis-Info in der </p>

        <p >&nbsp; REHAU-Software und Ihnen somit die Möglichkeit geben, zu den Änderungen </p>

        <p >&nbsp; Stellung zu nehmen. Indem Sie die REHAU-Software danach weiterhin nutzen, </p>

        <p >&nbsp; erklären Sie Ihr Einverständnis zu den geänderten Lizenzbestimmungen.
        </p>

        <p >&nbsp;&nbsp; Nebenabreden bedürfen zur Wirksamkeit der Schriftform. Dies gilt auch für </p>

        <p >&nbsp; eine Änderung des Schriftform-erfordernisses. Sollten einzelne Regelungen </p>

        <p >&nbsp; unwirksam sein oder werden, so wird hierdurch die Wirksamkeit der übrigen </p>

        <p >&nbsp; Regelungen nicht berührt. Die Vertragspartner werden sich in diesem Fall auf </p>

        <p >&nbsp; eine wirksame Regelung verständigen, die dem gemeinsamen wirtschaftlichen </p>

        <p >&nbsp; Interesse der Parteien am nächsten kommt.</p>

        <p >&nbsp; Bei Rechtsstreitigkeiten gilt der Sitz von REHAU als ausschließlicher Gerichtsstand, sofern </p>

        <p >&nbsp; Sie als Lizenznehmer Kaufmann sind oder keinen allgemeinen Gerichtsstand im </p>

        <p >&nbsp; Gebiet der Bundesrepublik Deutschland haben oder Sie eine juristische Person </p>

        <p >&nbsp; des öffentlichen Rechts sind. REHAU ist berechtigt, auch an jedem anderen </p>

        <p >&nbsp; gesetzlich vorgeschriebenen Gerichtsstand zu klagen. </p>

        <p >&nbsp;</p>

        <p >&nbsp;</p>

        <p >- Stand 05/2018 Rev. 1 -</p>

    </div>
</div>