:host {
    @include default-font();
  
    .horizontal-product-web {
      width: 100%;
    }
  
    .progressBar {
      position: absolute;
    }

    @media screen and (min-width: 992px) {
      .horizontal-product-web {
        width: calcrem(386px);
      }
    }
  }
  