<div id="main_content" class="inner-container">
    <div>
        <h2 [innerHTML]="'DataProtection-Headline-Title' | translate"></h2>
        <p [innerHTML]="'DataProtection-Intro-Text-1' | translate"></p>
        <p [innerHTML]="'DataProtection-Intro-Text-2' | translate"></p>
        <p [innerHTML]="'DataProtection-Intro-Text-3' | translate"></p>
        <h3 [innerHTML]="'DataProtection-1-Title' | translate"></h3>
        <p [innerHTML]="'DataProtection-1-Text' | translate"></p>
        <h3 [innerHTML]="'DataProtection-2-Title' | translate"></h3>
        <p [innerHTML]="'DataProtection-2-Text' | translate"></p>
        <h3 [innerHTML]="'DataProtection-3-Title' | translate"></h3>
        <p [innerHTML]="'DataProtection-3-Text' | translate"></p>
        <h3 [innerHTML]="'DataProtection-4-Title' | translate"></h3>
        <p [innerHTML]="'DataProtection-4-Text' | translate"></p>
    </div>
</div>