<div class="inner-container">
    <div>
        <h2 [innerHTML]="'TermsAndConditions-Headline-Title' | translate"></h2>
        <h3 [innerHTML]="'TermsAndConditions-1-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-1-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-2-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-2-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-3-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-3-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-4-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-4-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-5-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-5-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-6-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-6-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-7-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-7-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-8-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-8-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-9-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-9-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-10-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-10-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-11-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-11-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-12-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-12-Text' | translate"></p>
        <h3 [innerHTML]="'TermsAndConditions-13-Title' | translate"></h3>
        <p [innerHTML]="'TermsAndConditions-13-Text' | translate"></p>
    </div>
</div>