:host {
  @include default-font();

  .step-container {
    position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;  
      margin: 60px 30px;
  }

  .steps {
    width: 300px;
    height: 3px;
    background: #cdcdcd;
    position: relative;
    margin: 40px auto 0;
    .step-item {
      position: absolute;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: var(--primaryColor, $primaryColor);
    }
  }


  .step{
    .step-inner{
      margin: 10% 0;
      .step-caption{
        position: static;
        color: #fff;
        .step-icon {
          position: relative;
          span:before {
            font-size: 102px;
            text-align: center;
            margin: auto;
          }
        }
      }
    } 
    .step-control {
      cursor: pointer;
      opacity: 1;
      width: auto;
      margin: 0 13px;
      display: inline-block;
      .navigation{ 
        font-size: 20px;
        font-family: "BrixSansBold";
        font-stretch: normal;
        font-style: normal;
        line-height: 0.9;
        letter-spacing: 0.3px;
        color: var(--tertiaryColor, $tertiaryColor);
      }
      .navigation.right {
        color: var(--primaryColor, $primaryColor);
      }
      .navigation.left {
        color: var(--quinaryColor, $quinaryColor);
      }
      &.step-control-prev {
        .icon-next {
          &:before {
            padding: 0 17px;
            font-size: 15px;
            display: inline-block;
            transform: rotate(180deg);
            color: var(--quinaryColor, $quinaryColor);
          }
        }
      }
      &.step-control-next {
        .icon-next::before {
          color: var(--primaryColor, $primaryColor);
          padding: 0 17px;
          font-size: 15px;
        }
      }
    }
  }
  
  .step-item {
    transition-duration: 0s !important;
  }

  .subtitle {
    margin: 20px 0;
  }

  .add-device-link {
    margin: 20px !important;
  }

  .fixed-nav {
    height: 56px;
    position: fixed;
    z-index: 5;
    background: var(--quaternaryColor, $quaternaryColor);
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
  }
  .align-center {
    text-align: center !important;
    margin: auto !important;
  }
  .hidden {
    display: none !important;
  }
  .inner-wrapper {
    padding: 10px 0;
    position: relative;
    text-align: center;
  }

  .disableClick {
    pointer-events: none;
    cursor: not-allowed !important;
    opacity: 1 !important;
  }
  .progressBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .margin-top {
    margin-top: 108px;
  }
}
